.navbar {
  height: 60px;
  background-color: #1e293b;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-right {
  font-size: 18px;
}